.App {
  text-align: center;
  margin:1em;
}

svg * {
  transform-origin: 20%;
}

@keyframes left {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes right {
  100% {
    transform: rotate(260deg);
  }
}

.floating {   
  animation-name: floating; 
  animation-duration: 3s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out; 
  margin-left: 30px; 
  margin-top: 5px; 
} 

@keyframes floating { 
  0% { transform: translate(0,  0px); } 
  50%  { transform: translate(0, 40px); } 
  100%   { transform: translate(0, -0px); }     
} 