.App {
  /* text-align: center; */
  margin: 1em;
}

svg * {
  transform-origin: 20%;
}

.App {
  margin: 1em;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes left {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes right {
  100% {
    transform: rotate(260deg);
  }
}

img {
  border-radius: 3px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.object {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0% {
    transform: translate(0, 0px);
  }
  20% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 40px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.icon {
  transition: 0.6s;
}

.icon:hover {
  transform: scale(1.07);
  cursor: pointer;
}
